include LICENSE
include README.md
include requirements.txt
include pyproject.toml

recursive-include src/firelens/templates *.html
recursive-include src/firelens/static *.css *.js *.png *.ico *.svg *.jpg *.jpeg *.gif

recursive-include tests *.py

prune tests/__pycache__
prune **/__pycache__
prune *.pyc

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.egg-info
